<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/text.css">
</head>
<body>
    <header>
        <a href="/main" class="logo">
            portfolio blog
        </ㅁ>
        <nav class="gnb">
            <div class="user">
                <img src="../../img/header/user_icon.svg" alt="">
                <ul class="userInfo">
                    <% if(userInfo) { %>
                        <li>
                            <%= userInfo.userName %>
                        </li>
                        <li>
                            <a href="/dashbord">글쓰기</a>
                        </li>
                    <% } else { %>
                        <li>
                            <a href="/login">로그인</a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </nav>
    </header>
    <div class="title_area">
        <div class="titles">
            <p class="title">
                <%= responseDashbord.title %>
            </p>
            <p class="subtitle">
                <%= responseDashbord.subtitle %>
            </p>
        </div>
        <div class="writer_date">
            <p class="writer">
                <%= responseDashbord.writer %>
            </p>
            <p class="date">
                123.34.34
            </p>
        </div>
    </div>
    <div class="container">
        <div class="content">
            <%- responseDashbord.text %>
        </div>
    </div>
    <div class="delete">
        <button class="del_btn">
            게시물 삭제하기
        </button>
    </div>
    <script src="../../js/mainText.js"></script>
</body>
</html>